name: Release

on:
  push:
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: Build Plugin
        run: |
          php cwh_hobo.php > cwh_hobo.txt
          zip --junk-paths cwh_hobo-${{ steps.get_version.outputs.VERSION }}.zip cwh_hobo.txt README.md
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            cwh_hobo.txt
            cwh_hobo-${{ steps.get_version.outputs.VERSION }}.zip
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}